@using Microsoft.AspNetCore.Http

 @if (Context.Session.GetString("Role")!=null)
{
    if(Context.Session.GetString("Role")=="Admin"){
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
        <div class="dropdown-menu">
             <a class="dropdown-item"  asp-controller="Account" asp-action="AddAdmin">Add Admin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  asp-controller="Branch" asp-action="Index">Branches</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item"  asp-controller="Room" asp-action="Index">Rooms</a>
             <div class="dropdown-divider"></div>
           
            <a class="dropdown-item"  asp-controller="Room" asp-action="Create">Add Room</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item"  asp-controller="Branch" asp-action="Create">Add Branch</a>
              <div class="dropdown-divider"></div>
             <a class="dropdown-item"  asp-controller="RoomType" asp-action="Index">RoomTypes</a>
            
           </div>
        
    </li>
    }

else if(Context.Session.GetString("Role")=="User")
{
    <li class="nav-item">
    <h5>  <a class="nav-link text-dark"  asp-controller="Cart" asp-action="Index"><span class="badge badge-secondary">Cart</span></a>
   </h5> </li>
    <li class="nav-item">
      <h5> <a class="nav-link text-dark"  asp-controller="Order" asp-action="Index"><span class="badge badge-secondary">Order</span></a>
   </h5> </li>
   
}
}